/*Creating our own CSS Style for the project*/

/*Styles that apply to the entire page*/
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #dddfd4;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 60px;
}

#pageContainer {
  padding-left: 0px;
  padding-right: 0px;
}



/*JUMBOTRON*/
.jumbotron {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  color: white;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-family: 'Righteous', cursive;
  font-size: 60px;
  color: #fae596;
}

.jumbotron p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
    font-weight: 400;
}



/* FORM SECTION */
#inputFormContainer {
  background-color: #3fb0ac;
  padding-left: 0px;
  padding-right: 0px;
}

#inputFormDiv {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#inputFormDiv h2 {

	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	text-align: center;
}

#inputFormDiv hr {
	width: 200px;
	background-color: #fae596;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: none;
}

#inputFormDiv label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-align: left;
}

#inputFormDiv input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: 40px;
  font-style: italic;
}

#inputFormDiv button {
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	background-color: #fae596;
	color: #173e43;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	margin-top: 15px;
	border-radius: 4px;
}

#inputFormDiv button:hover {
  background-color: #173e43;
  color: #fae596;
}



/* CSS FOR GOOGLE MAPS API */

#mapTripDataDiv {
	padding: 0;
	margin: 0;
	background-image: url('../images/rdTrip.gif');

}

#map-container {
	position: relative;
	overflow: hidden;
	padding: 0;
}

#map {
  height: 400px;	/* Map height IS IMPORTANT!!!*/
  width: 100%;
}

/* TRIP DATA CSS */
#right-panel {
	padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#right-panel h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	letter-spacing: 1px;
	color: #173e42;
	text-align: center;
}

#right-panel hr {
	width: 200px;
	background-color: #3fb0ac;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: none;
}

#right-panel strong {
	font-size: 200%;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#right-panel button {
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	background-color: #173e42;
	color: #dddfd5;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	margin-top: 15px;
	border-radius: 4px;
}

#right-panel button:hover {
  background-color: #3fb0ac;
  color: #fae596;
}



/* Weather and Recommendations Div and Container */
#wrResultsDiv {
	background-color: #173e43;
 }

/*Weather Results*/
 #weatherResultsDiv {
	color: #fae595;
    padding: 30px;
    padding-left: 0;
    padding-right: 15px
 }

 #weatherResultsDiv h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	letter-spacing: 1px;
	text-align: center;
}

 #weatherResultsDiv hr {
	width: 200px;
	background-color: #fae596;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: none;
}

#weatherResultsDiv p {
    color: white;
}

#weatherResultsDiv strong {
    font-size: 20px;
    display: inline-block;
    margin-top: 2px;
}

 #displayFlex {
 	display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
    margin-bottom: 30px;
 }

.currentImg {
	text-align: center;
	background-color: white;
	margin-left: 15px;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	padding: 0;
	line-height: 55px;
	border-radius: 4px;
	border: 2px solid #3fb0ac;
}

#threeDayForecast {
	color: white;
}

#threeDayForecast strong {
	color: #fae595;
	font-size: 15px;
}

.weatherImgs {
	background-color: white;
	margin-right: 15px;
	margin-bottom: 5px;
	height: 40px;
	padding: 0;
	line-height: 55px;
	border-radius: 4px;
	border: 2px solid #3fb0ac;
}

/*Recommendations*/

#recommendationsDiv {
	 color: #dddfd4;
	 padding: 30px;
	 padding-left: 15px;
 }

#recommendationsDiv h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0px;
	letter-spacing: 1px;
	text-align: center;
}

#recommendationsDiv hr {
	width: 200px;
	background-color: #dddfd4;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: none;
}



 /* Past Adventures Div and Container */
#pastAdventuresDiv {
	background-color: #3fb0ac;
	color: white;
	padding-bottom: 30px;
}

#pastAdventuresDiv h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 30px;
	letter-spacing: 1px;
}

#pastAdventuresDiv hr {
	width: 200px;
	background-color: #fae596;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#pastAdventuresDiv th {
	color: #173e43;
}


/* RESET BUTTON */
#resetButton {
	background-image: url("../images/resetBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
	margin-bottom: 60px;
	padding: 30px;
	text-align: center;
}

#resetButton button {
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	background-color: #fae596;
	color: #3fb0ac;
	padding: 15px 30px;
	border: none;
	margin: 5% 0;
	border-radius: 4px;
}

#resetButton button:hover {
	background-color: #3fb0ac;
	color: #fae596;
}



/* footer */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #173e43;
	color: white;
	text-align: center;
	font-size: 75%;
}

#footer {
  display: table;
  height: 100%;
}

#footer p {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}
